/* .btn{
   
   
    padding: 6px 16px;
    font-size: 0.9rem;
    color: #0c131784;
    background: transparent;
    border-radius: 40px;
    border: 1px solid gray;
    cursor: pointer;
    width: 90%;
    height: 40px;
    font-family: rouben ligth;
    margin-top: 10%;
    margin-left: 5%;
}
.btn:hover{
    color: #328761;
   
}
@media only screen and (max-width: 450px) {

    .btn{
        
        background: white;
        padding: 6px 16px;
        font-size: 0.9rem;
        color: #0c131784;
        border-radius: 40px;
        border: 1px solid gray;
        cursor: pointer;
        width: 90%;
        height: 40px;
        font-family: rouben ligth;
        
      
       
    }
} */