.container-menu{
    all: initial;
    position: fixed;
    display: flex;
    background: rgba(170, 220, 197,0.3);
    backdrop-filter: blur(30px);
    height: 45%;
    width: 70%;
    top: 95px;
    left: 17%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    z-index: 1;
}