.contact-container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.contact-section{

    background-image: url('../assets/backgroundNube4.jpg'); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.contact-form{
    display: grid;
  grid-template-columns:1fr;
  justify-content: flex-start;
  align-self: flex-start;
  
}

.contact-input{
    border-style: none;
    justify-content: flex-start;
    align-self: flex-start;
    margin-top: 2%;
   width:500px ;
    height: 40px;
    border-radius: 12px;
    background: #303030;
    color: white;
    padding: 10px 20px;
   
}

.contact-input-description{
    border-style: none;
    margin: auto;
    margin-top: 2%;
   width:500px ;
    height: 90px;
    border-radius: 12px;
    background: #303030;
    color: white;
    padding: 10px 20px;
   
}

.contact-input::placeholder{
    
    font-size: 0.9rem;
}
.contact-input-description::placeholder{
    
    font-size: 0.9rem;
}



.contact-button{
    border-style: none;
    background: #328761;
    width: 100px;
    margin-top: 6%;
    margin-bottom: 10%;
    height: 35px;
    border-radius: 30px;
    font-family: rouben;
    font-size: 1rem;
    justify-content: end;
    align-self: flex-end;
    margin-left: 81%;
    color: #eef4ed;
    cursor: pointer;
}



.contact-titulo{
    justify-content: flex-start;
    align-self: flex-start;
    display: flex;
    font-family: rouben;
    font-size: 3.5rem;
    color: #36B079;
}

.contact-subtitulo{
    justify-content: flex-start;
    align-self: flex-start;
    display: flex;
    font-family: rouben;
    color: #eef4ed;

}