.products-submenu{
   
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    margin-left: -5%;
    
    
}

.products-submenu li{
  flex-basis: calc(20% - 10px);
  margin-bottom: 10px;
  font-family: rouben;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 10px; 
}


.products-submenu.clicked{
    display: none;
}

.submenu-item { 
    display: flex;
    width: 300px;
    height: 90px;
    text-decoration: none;
    background: transparent;
    grid-row: 1;
}

.descripcion {
    font-family: rouben Ligth;
    padding: 0;
    margin:0;
    background: transparent;
   
}
.titulo{
    width: 100%;
    display: block;
    margin-left: 20%;
    font-size: 2rem;
}
.desc{
    display: block;
    margin-left: 20%;
    font-family: rouben ligth;
    font-size: 0.9rem;
}


