.container-footer{
    display: flex;
    flex-direction: column;
    background: #0c1317;
    padding: 20px;
    z-index: 0;
    justify-content: start;
    
}
li{
  list-style: none;
  padding: 10px 10px 10px 0px;
  color: #eef4edad;
  cursor: pointer;
}
li:hover{
  color: #eef4ed;
  font-weight: bold;
  transition: ease-out 0.3s;
}
a{
  text-decoration: none;
  color: #eef4ed ;
  
}
.columnas {
  color: #eef4ed;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  margin-bottom: 4%;
}
ul{
  all: initial;
  font-family: rouben ligth;
}
.columna {
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-align: start;
  font-family: rouben;
  font-size: 1.2rem;
}
.columna-principal {
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-align: start;
  font-family: rouben;
  font-size: 1.1rem;
  margin-right: 10%;
  grid-column: 1 / 2;
}

.footer-parrafo{
  padding: 10px 10px;
  width: 320px;
  color: #eef4edad;
}
.redes-footer{
  display: flex;
  justify-content: start;
  
}
.icon-redes{
  height: 25px;
  margin: 0 10px;
}
.boton-footer{
  border-style: none;
  border: 2px solid #eef4edad;
  display: block;
  margin-top: 5%;
  height: 15%;
  background: #0c1317;
  color:#eef4ed;
  width: 100%;
  border-radius: 3px;
  font-family: rouben ligth ;
  font-size: 0.9rem;
  align-content: center;
  justify-content: center;
  cursor: pointer;
 
}

.footer-titulo-principal{
  font-size: 1.3rem;
  color: #eef4ed;
  font-weight: bolder;
}

.licencias-footer{
  
  all: initial;
  font-family: 'Courier New', Courier, monospace;
  color:#eef4ed;
  margin: auto;
}

@media only screen and (max-width: 500px) {
  .container-footer{
    display: grid;
    grid-template-columns: auto;
    background: #0c1317;
    padding: 20px;
    z-index: 0;
    justify-content: start;
    width: 100%;
}
.footer-parrafo{
  padding: 10px 10px;
  width: 80%;
  color: #eef4edad;
  font-size: 0.8rem;
}
.licencias-footer{
  
  all: initial;
  font-family: 'Courier New', Courier, monospace;
  color:#eef4ed;
  margin: auto;
  font-size: 0.6rem;
  width: 90%;
}
.footer-titulo-principal{
  font-size: 1rem;
  color: #eef4ed;
  font-weight: bolder;
  justify-content: start;
  align-items: start;
  margin-left: 3%;
}
.columnas {
  color: #eef4ed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "columna-principal columna-principal"
    "columna-ecosystem columna-discover"
    "columna-explore columna-community";
  margin-bottom: 4%;
}

.boton-footer{
  height: 15%;
  margin-left: 3%;
  width: 70%;
  font-size: 0.8rem;
  margin-bottom: 5%;
}
.columna {
  margin-top: 10%;
  width: 100%;
  padding: 0.7rem;
  margin-left: 4%;
  font-size: 0.8rem;
}
li{
  font-size: 0.6rem;
  padding: 5px 5px 5px 0px;
  color: #eef4edad;
  cursor: pointer;
}
.columna-principal {
  grid-area: columna-principal;
  }
}