.powered-container .powered {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

/* .nav-container{
    margin-left: 10vw;
    margin-right: 10vw;
} */

.pri-container{
    margin-left: 10vw;
    margin-right: 10vw;
}

.seg-container{
    margin-left: 10vw;
    margin-right: 10vw;
}

.car-container{
    margin-left: 10vw;
    margin-right: 10vw;
}

.faq-container{
    margin-left: 10vw;
    margin-right: 10vw;
}

.foo-container{
    margin-left: 10vw;
    margin-right: 10vw;

}

@media only screen and (max-width:400px){}
*{
    margin-left: 0;
    margin-right: 0;
}

