
.navbar{
  position: fixed;
    background:#0c1317 ;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 1000; 
    width: 100%;
}

 .navbar.sticky {
    width: 100%;
    position: fixed;
    background-color: transparent; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(10px);
  } 

.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    margin-left: 10.6vw;
}
.nav-items{
    display: flex;
    width: 100%;
    justify-content: center;
    align-self: center;
    
}

.nav-title{
    font-size: 1.1rem;
    font-family: rouben;
    margin-left: 3%;
    cursor: pointer;
    color: #eef4ed;
    padding: 25px 25px;
   
}
.nav-title:hover{
    color: #36B079;
}



.container-productos{
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8rem;
    margin-left: 10vw;
    margin-right: 10vw;
    z-index: 9999;
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    grid-template-rows: repeat(2, 1fr);
    height: 300px;
    width: 80%;
    background: #eef4ed;
    border-radius: 10px;
    backdrop-filter: blur(0px);
    transition: opacity 0.4s ease-in-out; /* Add the transition property with a longer duration */
    opacity: 0; /* Set the initial opacity to 0 */
    pointer-events: none; /* Disable pointer events when the element is hidden */  
}

.container-productos.show {
    transition: opacity 0.4s ease-in-out;
    opacity: 1; /* Change the opacity to 1 to show the element */
    pointer-events: auto; /* Enable pointer events when the element is shown */
  }
  .container-productos.show.sticky {
   margin-top: 8rem;
  }

.productos {
    border-radius: 5px;
    height: 100px;
    pad: 16px 16px;
    display: flex;
    align-items: center;
    width: 200px;
  }
  .productos:hover{
    background: #d3dcd26c;
    cursor:pointer;
  }

  .descripcion-productos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    margin-left: 10%;
  }

  .titulo-productos{
    margin-bottom: 5%;
    font-family: rouben;
    font-size: 1rem;
  }
  .titulo-productos:hover{
    color: #36B079;
  }
  
  .subtitulo-productos{
    font-family: rouben ligth;
    width: 70%;
    font-size: 0.7rem;

  }
  .logo-productos{
    height: 50px;
    margin-left: 2%;
  }
  
  /* @media screen and (max-width:600px){
    .navbar{
        position: absolute;
        background:#0c1317 ;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: start;
        z-index: 1000; 
        width: 100px;
        margin-left: 12%;
    }
    .navbar-logo{
      display: flex;
      align-items: center;
      justify-content: start;
      width: 150px;
      
  }
  .nav-items{
    display: flex;
    width: 10%;
    justify-content: center;
    align-self: center;
    
}
.nav-title{
  font-size: 0.9rem;
  font-family: rouben;
  cursor: pointer;
  color: #eef4ed;
  padding: 5px 5px;
 
}
  } */
  @media only screen and (max-width: 500px) {
    /* Set the navbar to appear at the top of the screen */
    .navbar {
      
      height: 70px;
    
      width: 100%;
    }
    
    /* Display nav items vertically */
    .nav-items {
      display: flex;
      flex-direction: column;
      margin-top: 300px;
    }
    
    .nav-item {
     margin: auto;
    }
    .navbar-logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 8rem;
      height: 3rem;
     
  }
  }