.contenedorPrincipal{
    display: flex;
    justify-content: center;
    align-self: center;
    
}
.textos{
    margin-top: 5%;
    margin-left: 8%;
}
/* .containerIzq{
    all: initial;
    flex: 1;
    width: 50%;
    
}
.containerDer{
    flex: 1;
    width: 50%;
    margin: none;
    box-sizing: border-box;
} */
.fotoPrincipal{
    height: 500px;
    margin-left: 20%;
    margin-top: 8%;
   animation: animation1 3.5s;
    animation-iteration-count: infinite;
    z-index: 0;
}


.tituloPrincipal{
    font-family: rouben;
    font-size: 42px;
    width: 500px;
    margin: 5% 0 0 21%;
    font-weight: 500;
}
.subtituloPrincipal{
    font-family: rouben ligth;
    font-size: 20px;
    width: 500px;
    margin: 2% 0 0 21%;
}
.primeraParte{
    color: #36b079;
    font-weight: bold;
}
@keyframes animation1{
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(-10px);
    }
}
