.contenedorSegundo{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    
}
.textos{
    width: 730px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    
    
}

.fotoSegundo{
    height: 650px;
    
    margin-top: 8%;
   animation: animation1 3.5s;
    animation-iteration-count: 3;
    z-index: 0;
   
}


.tituloSegundo{
    font-family: rouben;
    font-size: 42px;
    width: 100%;
    font-weight: 500;
    margin-bottom: 2%;
}
.subtituloSegundo{
    font-family: rouben ligth;
    font-size: 20px;
    width: 500px;
    color: #eef4ed;
    
}
.primeraParte{
    color: #36B079;
    font-weight: bold;
}
@keyframes animation1{
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(-10px);
    }
}
